// custom variables
$custom-primary: #16a078;
$custom-secondary: #797ef6;

// override Bootstrap variables
$primary: $custom-primary;
$secondary: $custom-secondary;

// import Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";